#header_container {
	background-color: #666; 
	-moz-border-radius: 0 0 20px 20px; 
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border: 2px solid #AAA;
	border-top: 0 !important;
}
#header_container a { color: #FFF; text-decoration: none;}
#header_container.content {
	padding: 20px;
	margin: 0 10px;
}
#body_container {
	padding: 0 40px;
}
.title{ font-size:200%; padding-left: 25px;}
.tagline{ color: #CCC; padding-top:10px; margin-right:8px; text-align:right; font-style:italic; }

p.flash{ color:green; }

.field_name{ font-weight:bold; }

#footer_container{ margin-top:20px; padding:5px 0;
  border-top:1px solid #999999; }

.tooltip {
  padding:5px 15px;
  position:absolute;
  background-color:#FFFF99;
  border: 1px solid #999999;
  color:#000000;
}

#bookmarklet { padding-left: 20px; }
#bookmarklet .help { font-size: smaller; }

li.most_popular_vurl {
  list-style: none;
  line-height: 2.0em;
}

.feedback {
  text-align:right;
  font-style:italic;
  padding-right: 20px
}

#footer_container {
	background-image:url(../images/slant.png);
}
