form#new_vurl input#vurl_url {
  font-size: 32px;
  height: 35px;
  width: 530px;
  margin-bottom: 10px;
}
form#new_vurl .button {
  font-size: 12px;
  float: left;
  /* background-color: #00688D; */
  color: #FFF;
  height: 30px;
  border: 0;
  text-decoration: none;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
form#new_vurl .button.right {
  margin: 0 90px 0 35px;
  width: 150px;
}
form#new_vurl .button.left {
  margin: 0 35px 0 90px;
  width: 130px;
}

.errors:before {
  content: "Errors:"
}
.errors {
  font-weight: bold;
  color: #BB0000;
}
.errors div {
  padding: 1px;
}

.recent_popular dt {
  font-size: 16px;
}
.recent_popular dd {
  width: 569px;
}
.recent_popular span.clicks_count {
  font-size: 140%;
  font-weight: bold;
  color: #000000;
}

.share {
  font-size: 20px;
  padding: 10px 0;
}
#leftcolumn .share {
  text-align: center;
  margin: 10px 0 30px;
}

.chart, #leftcolumn .share {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

#vurlme_tweets { }
#vurlme_tweets .tweet_list { }
#vurlme_tweets .tweet_list .awesome,
#vurlme_tweets .tweet_list .epic {
  text-transform: uppercase;
}
#vurlme_tweets .tweet_list li {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  border-bottom: 1px solid  #CCCCCC;
}
#vurlme_tweets .tweet_list .tweet_avatar {
  float: left;
  padding: 3px 5px 0 0;
}
