.bottom_border{ border-bottom:1px solid #999999; }
.title_size{ font-size:200%; }
.tagline{ padding-top:15px; text-align:right; font-style:italic; }

p.flash{ color:green; }

.field_name{ font-weight:bold; }

#footer_menu{ margin-top:20px; padding-top:10px;
  border-top:1px solid #999999; }

.tooltip {
  padding:5px 15px;
  position:absolute;
  background-color:#FFFF99;
  border: 1px solid #999999;
  color:#000000;
}

li.most_popular_vurl {
  list-style: none;
  line-height: 2.0em;
}
