form#new_vurl label {
  display: none;
}

form#new_vurl input#vurl_url {
  font-size: 32px;
  height: 35px;
  width: 530px;
  margin-bottom: 10px;
}
form#new_vurl .button {
  font-size: 12px;
  float: left;
  /* background-color: #00688D; */
  color: #FFF;
  height: 30px;
  border: 0;
  text-decoration: none;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
form#new_vurl .button.right {
  margin: 0 90px 0 35px;
  width: 150px;
}
form#new_vurl .button.left {
  width: 130px;
}

.errors {
  font-weight: bold;
  color: #B00;
}
.errors div {
  padding: 1px;
}

div.success, div.error {
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 0 0 10px;
  padding: 15px 10px 15px 50px;
}
div.success {
  border-color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url(/images/success.png);
}
div.error {
  border-color: #D8000C;
  background-color: #FFBABA;
  background-image: url(/images/error.png);
}
.error ul li{
  display:inline;
  color: #B00;
}

.recent_popular dt {
  font-size: 16px;
}
.recent_popular dd {
  width: 569px;
}
.recent_popular span.clicks_count {
  font-size: 140%;
  font-weight: bold;
  color: #000000;
}

.share {
  font-size: 20px;
  padding: 10px 0;
}
#leftcolumn .share {
  text-align: center;
  margin: 10px 0 30px;
}
.chart, #leftcolumn .share {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

.shorten_url {
  font-size: 1.3em;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 10px 0;
}

#services .box-center img#hashrocket_logo {
  margin-top: 10px;
  padding: 0;
}

#vurlme_tweets .tweet {
  min-height: 60px;
  margin: 10px 0 5px;
  border-bottom: 1px dotted #CCC;
}

#vurlme_tweets .tweet .profile_photo {
  width: 48px;
  padding-right: 12px;
  float: left;
}

#vurlme_tweets .tweet.new_tweet {
  display: none;
}

li.member-position span.clippy {
  position:relative;
  top: 3px;
}

div.api_token_display {
  background-image: url(/images/servicerepeat.jpg);
  width: 336px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 500;
  color: #333;
  font-size: 1.15em;
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.api_token_display a {
  color: #333;
}
div.api_token_display .action {
  text-align: right;
}
