- unless current_user.claimed?
  .api_token_display
    Hey there! We've created user account ##{current_user.api_token} for you. Claiming it will allow you to set a login and password to track all the vurls you've created.
    %div{:style=>'text-align:right;'}
      = link_to "claim this account", edit_user_path(current_user)
