.span-3 &nbsp;
%div{:class => 'span-10', :id => 'vu_ytplayer_vjVQa1PpcFPey8TnH3hdDw5IQwcs4vU9S3fvdu4DLw4='}
  %a{:href => 'http://www.youtube.com/browse'} Watch the latest videos on YouTube.com
%script{:type => 'text/javascript', :src => 'http://www.youtube.com/watch_custom_player?id=vjVQa1PpcFPey8TnH3hdDw5IQwcs4vU9S3fvdu4DLw4='}
.span-3 &nbsp;
