= error_messages_for :vurl
.span-18{:style => 'padding-top:40px;'}
- form_for(@vurl) do |f|
  .span-4 &nbsp;
  %div{:class => 'span-10'}
    URL:
    = f.text_field :url
    = f.submit "Vurlify!"
  .span-4 &nbsp;
