= error_messages_for :vurl
.span-18{:style => 'padding-top:40px;'}
- form_for(@vurl) do |f|
  .span-3 &nbsp;
  .span-12
    URL:
    = f.text_field :url
    = f.submit "Vurlify!"
    = link_to "I'm Feeling Lucky", random_vurls_path, :class => 'lucky_link'
  .span-3 &nbsp;
