%h2 Flagged as spam

%p.spam_warning
  USE CAUTION WHEN FOLLOWING THE LINK BELOW. This vurl has been flagged as
  spam by the system and may also contain malware.

%p
  Original URL:
  = link_to current_vurl.url, current_vurl.url

%p
  Vurl.me is closed for business, but will respect existing redirects.
  = mail_to "almighty@veez.us", "Contact Veez"
  if you have questions or concerns.
