!!!
%html{ "xml:lang" => "en", lang: "en", xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ content: "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title
      Vurl.me is closed for business
    = stylesheet_link_tag 'application'
  %body
    #content
      = yield
